.scoresContainer {
  display: flex;

  :nth-child(2n) {
    margin-left: 20px;
  }

  .title {
    color: #eee4da;
    font-size: 12;
  }

  .cpContainer,
  .hmContainer {
    position: relative;
    display: block;
    background: #bbada0;
    padding: 15px 25px;
    font-size: 25px;
    height: 25px;
    font-weight: bold;
    border-radius: 3px;
    color: white;
    text-align: center;
  }
}
